@charset "UTF-8";
/* CSS Document */

.postlist, #postlist {
	clear:both;
	margin-top:5px;
	margin-bottom:10px;
	position:relative;
	_height: 1%;
	_zoom: 1;
}


.above_postlist, #above_postlist {
	width:100%;
	position:relative;
	left:0;
	float: left;
	margin-top: 5px;
	height: 32px;
	_height: 1%;
	_zoom: 1;
}

.postlist_popups, #postlist_popups {
	float: right;
	position: relative;
	clear:both;
}

.postlist_popups li, #postlist_popups li {
	position: relative;
}

.postlist_popups .popupmenu ul, #postlist_popups .popupmenu ul {
	left:auto;
	right:0;
}

#postlist_popups a, .postlist_popups a {
	color: rgb(144, 144, 144);
	_border: none;
}

#postlist_popups a:hover, .postlist_popups a:hover {
	color: rgb(144, 144, 144);
}

#postlist_popups ul a, .postlist_popups ul a {
	color: rgb(144, 144, 144);
}

#postlist_popups, .postlist_popups {
         /* ie6 + ie7 fix */
	*width:540px;
}

#postlist_popups .popupmenu:hover a.popupctrl, #postlist_popups .popupmenu:hover .popupctrl a.popupctrl.active, .postlist_popups .popupmenu:hover a.popupctrl, .postlist_popups .popupmenu:hover .popupctrl a.popupctrl.active {
	border: 1px solid transparent;
}

.posts, #message_list {
	margin:10px 0;
}

#inlinemod_formctrls ul {
	left:auto;
	right:0;
}

.postlist_navpopup {
	clear:both;
	margin-top:2em;
}

.qr_require_click {
	display: none;
}

form#quick_reply {
	max-width:100%;
}

form#quick_reply .actionbuttons .group {
	max-width:100%;
}

form#quick_reply textarea {
	height:100px;
}

.above_postlist .newcontent_textcontrol {
	margin-top: 5px;
	position: relative;
	_display:inline;
}

#pagination_postlist_bottom {
	float:left;
}

.pagination_top {
	width: 60%;
	float: right;
	position: relative;
	margin-top: 5px;
	right: 0;
}

.above_postlist .pagination_top .pagination, .above_postlist .pagination_top .postpagestats {
	float: right;
	clear:left;
	vertical-align:middle;
	font-size: 12px;
	color: rgb(144, 144, 144);
	_display:inline;
}

.postpagestats {
	padding-top: 5px; /* 1.5px; */
	vertical-align:inherit;
}
	
.pagination_top .pagination {
	margin-left: 10px;
	position: relative;
	top: -3px;
}

.postlistfoot {
	display:block;
	width: 100%;
        height: 2em;
        clear:both;
        position: relative;
}

.below_postlist {
	display:block;
	clear:both;
	position: relative;
	float: right;
	margin-bottom: 1em;
	width: 100%;
}

.discussionlist + .below_postlist {
	margin-bottom: 20px;
}

.below_postlist .pagination_bottom {
	float: right;
	margin-top: 5px;
	width: 100%;
}

.below_postlist .pagination_bottom .pagination {
	float: right;
	clear: left;
	margin-left: 5px;
	position: relative;
        margin-bottom: 1em;
}

.below_postlist .newcontent_textcontrol {
	position: absolute;
	top: -2.5em;
}

.navpopupmenu {
	display:block;
	float: right;
	padding: 0;
	padding-top: 3px;
	clear: left;
	margin-left: 10px;
	font-size: 12px;
	margin-top: 0;
}

.navpopupmenu a.textcontrol, .navpopupmenu a.popupctrl {
	color: rgb(144, 144, 144);
	border: 1px solid rgb(0, 0, 0);
	background: rgb(51, 51, 51) url(themes/robotic-dark_amber/gradients/generic_button.png) repeat-x top left;
	_background-image: none;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	padding: 3.33333333333px 6.66666666667px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.navpopupmenu a.textcontrol:hover, .navpopupmenu a.popupctrl:hover {
	color: rgb(112, 72, 2);
	background: rgb(25, 25, 25) url(themes/robotic-dark_amber/gradients/generic_button.png) repeat-x  ;
	_background-image: none;
} 


/* CSS Document */

.pagetitle {
	width: 40%;
}

.postlist {
 /* ie6-only hack */
  _border:1px solid transparent;
}

.thread_controls {
	position: relative;
	display:block;
	float: left;
	width: 100%;
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
	margin-bottom: 5px;
	margin-top: 10px;
	font:   normal 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.thread_controls div:first-child {
	padding: 5px 0;
	float: left;
	width: 100%;
}

.popupbody .rating {
	display:block;
	padding:0;
	padding-left:75px;
	background:transparent url(themes/robotic-dark_amber/rating/rating-15_0.png) left center no-repeat;
}

.popupbody .rating.r5 { background-image:url(themes/robotic-dark_amber/rating/rating-15_5.png); }
.popupbody .rating.r4 { background-image:url(themes/robotic-dark_amber/rating/rating-15_4.png); }
.popupbody .rating.r3 { background-image:url(themes/robotic-dark_amber/rating/rating-15_3.png); }
.popupbody .rating.r2 { background-image:url(themes/robotic-dark_amber/rating/rating-15_2.png); }
.popupbody .rating.r1 { background-image:url(themes/robotic-dark_amber/rating/rating-15_1.png); }

.searchthread.popupmenu .popupbody {
	width:236px;
}

.searchthread.popupmenu .popupbody input.searchbox{
	margin-top:1px;
	margin-bottom:3px;
}

.searchthread.popupmenu .popupbody input.button{
	float:right;
	top:0;
}

/* FORUM INFO / OPTIONS BLOCK */

/*thread info*/

.thread_info {
	margin-bottom: 5px;
	float: left;
	width: 100%;
	clear:both;
	position: relative;
	top: -10px;
	margin-bottom: 0;
	color: rgb(144, 144, 144);
	font-size: 12px;
}

.thread_info a {
	font-weight:bold;
}

.thread_info h4 {
	font:   bold 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: rgb(112, 72, 2);
	background: rgb(51, 51, 51) url(themes/robotic-dark_amber/misc/images/cat-top-middle.jpg) repeat-x bottom left;
	_background-image: none;
	border: 1px solid rgb(34, 34, 34);
	margin-top: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-box-shadow: -2px 2px 2px rgb(25, 25, 25);
	-webkit-box-shadow: -2px 2px 2px rgb(25, 25, 25);
}

.thread_info h5 {
	display: none;
}

.thread_info .optiontitle {
	display:block;
	padding: 4px 0;
	padding-left: 10px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.thread_info_block {
	border-bottom: 1px solid rgb(39, 39, 39);
	border-left: 1px solid rgb(39, 39, 39);
	border-right: 1px solid rgb(39, 39, 39);
	background: rgb(40, 40, 40) none   ;
	_background-image: none;
	-moz-box-shadow: -2px 2px 2px rgb(25, 25, 25);
	-webkit-box-shadow: -2px 2px 2px rgb(25, 25, 25);
}

.thread_info .inner_block, .info_subblock {
	padding: 4px 10px;
}

.thread_info .options_block_container {
	width: 100%;
	float: left;
	display:block;
	position: relative;
	top: 0;
	padding-top:0;
	margin-top: 0;
}

.thread_info .options_block{
	width: 49.5%;
	display:block;
	float: left;
	clear: right;
	margin-right: 1%;
	position: relative;
}

.thread_info .options_block:last-child {
	margin-right: 0;
}

.options_block h4 {
	width: 100%;
}

.options_block .thread_info_block {
	float: left;
	width: 100%;
	display:block;
}

ul.icon_list li {
	display:block;
	width: 100%;
	margin-bottom: 5px;
}

.info_subblock ul li {
	margin-bottom: 2px;
}

.youcandoblock {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

.bbcodeblock {
	float: right;
	display:block;
	width: 50%;
	margin-bottom: 10px;
}

.rules_link {
	width: 50%;
	padding-left: 50%;
}

.inner_block .commalist {
	margin-top:1em;
}

#thread_info_block_1 {
	width:34.9%;
	float:left;
}

#thread_info_block_1 > * {
	margin-right:2px;
}

#thread_info_block_2 {
	width:65%;
	float:right;
}

/* Similar Threads */
.similar_threads {
	clear:both;
}

.similar_threads li {
	padding:5px 10px 5px 10px;
}

ol.similar_threads li h6 a {
	font-size:12px;
}

.similar_threads .starter_forum {
	font-size:11px;
}

.similar_threads .titleblock {float:left}
.similar_threads .dateblock {float:right; text-align:right}

a.firstunread {
	background-image:url(themes/robotic-dark_amber/buttons/firstnew.png);
	background-position:right center;
	background-repeat:no-repeat;
	padding:2px 4px;
	padding-right: 15px;
	font-size:11px;
	border:1px solid transparent;
	margin-left:5px;
	text-decoration:none;
}
#navlinks {
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
	padding: 6px;
	text-align: center;
	color: rgb(112, 72, 2);
	font-size: 1em;
	clear:both;
}
.thread_info a.collapse {
	position: absolute;
	top: 0.9em;
}


/*************************************************/
/* ADS First and Last Post */
#ad_thread_first_post_content {
     float:right;
}
#ad_thread_last_post_content {
     float:right;
}
 


/* CSS Document */

/* last edited notice */
.lastedited {
	font-style:italic;
	padding-top: 1em;
	color: rgb(144, 144, 144);
	font-size: 11px;
/*	clear:both; */
}

.lastedited a {
	color: rgb(144, 144, 144);
}
/* reputation image */
.postbit_reputation {
	padding:0 0 0 3px;
	clear:both;
	display:block;
}
img.repimg {
	padding:0;
	margin:0 0 0 -3px;
	display:inline;
}

.quickedit {
border-top: 1px solid rgb(0, 0, 0);
}
/*signature */
.signature {
        padding-top: 1em;
	border-top: 0px solid rgb(0, 0, 0);
        margin-top: 2em;
}


/*post bit*/
.postbit, .postbitlegacy, .eventbit {
	margin-bottom: 10px;
	display:block;
	width: 100%;
	clear:both;
	position: relative;
	float: left;
	color: rgb(144, 144, 144);
	border: 0px solid rgb(0, 0, 0);
}

.postbit object {
	clear:both; 
}

.postbit .postdetails {
	width: 100%;
	display:block;
	float: left;
}

.postbit .posthead, .postbitlegacy .posthead, .eventbit .eventhead {
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
	clear:both;
	display:block;
	float: left;
	width: 100%;
	color: rgb(112, 72, 2);
	margin: -1px -1px 0;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	padding: 4px 0;
}

.postbit .posthead .postdate, .postbitlegacy .posthead .postdate {
            display:block;
            float:left;
            clear:right;
            width: 49%;
            margin-left: 10px;
            font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
            padding-left: 15px;
}

.postbit .posthead .postdate.old, .postbitlegacy .posthead .postdate.old {
            background:transparent url(themes/robotic-dark_amber/statusicon/post_old.png) no-repeat center left;
}

.postbit .posthead .postdate.new, .postbitlegacy .posthead .postdate.new {
            background:transparent url(themes/robotic-dark_amber/statusicon/post_new.png) no-repeat center left;
}

.postbit .postdate .time {
	color: rgb(112, 72, 2);
	margin-left: 10px;
}



.postbit .userinfo .contact, .postbit .userinfo_noavatar .contact {
	position: relative;
	float: left;
	clear: right;
	width: 50%;
	display:block;
}
.postbit .postuseravatarlink {
	display:block; 
	text-align: center;
	position: relative;
	top: 0;
	margin-left: 15px;
	overflow: hidden;
	float: left;
	clear: right;
}

.postbit .postuseravatarlink img {
}


.postbit .nodecontrols .postimod{
	top: 0;
	position:relative;
	margin-left: 10px;
}

.postbit .userinfo, .postbit .userinfo_noavatar {
	background: transparent none   ;
	_background-image: none;
	clear:both;
	min-height: -23.76px;
	height: auto !important;
	border-bottom:0px solid rgb(0, 0, 0);
	padding: 0.5em 0;
	width: 100%;
	float: left;
}

.postbit .userinfo .contact, .userinfo .userinfo_extra, .postbit .userinfo_noavatar .contact {
	display:inline-block;
	min-height: -23.76px;
	height: auto !important;
	height: -23.76px;
}
.postbit .username_container {
 	float: left;
 	clear: right;
 	display:block;
 	margin-left: 10px;
}
.postbit .userinfo .username_container .memberaction, .postbit .userinfo_noavatar .username_container .memberaction {
 	display: inline;
}

.postbit .postdetails_noavatar .posthead, .postbit .postdetails_noavatar .userinfo .contact {
	margin-left: 0;
}
/*
.postbit .userinfo .postbit_reputation {
        margin-left: 15px;
}
*/
.postbit .userinfo .username, .postbit .userinfo_noavatar .username {
	font-size: 13px;
	font-weight: bold;
}

.postbit .userinfo_noavatar .imlinks img {
	display:inline;
}
.postbit .userinfo .username.guest, .postbit .userinfo_noavatar .username.guest {
	font-weight:normal;
}

.postbit .userinfo_noavatar .usertitle, .postbit .userinfo .usertitle, .postbit .userinfo_noavatar .rank, .postbit .userinfo .rank {
	font-size: 11px;
	font-weight: bold;
	display:block;
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 3px 3px 3px 3px;
        margin-top: 2px;
        padding-left: 5px;
	clear:both;
}
.postbit .userinfo .userinfo_extra, .postbit .userinfo_noavatar .userinfo_extra {
	text-align: right;
	width: 300px;
	float: right;
	font-size: 11px;
}

.postbit .userinfo .userinfo_extra dl, .postbit .userinfo_noavatar .userinfo_extra dl {
	margin-right: 10px;
	float: right;
	width: 150px;
}

.postbit .userinfo_extra dl dt {
	float:left;
	display:block;
	/*color:#777777;*/
	margin-right: 5px;
        padding-left:5px;
        margin-top:6px;
}

.postbit .userinfo_extra dl dt:after  {
	content:":";
}
.postbit .userinfo_extra dl dt.blank:after {
	content:none;
}
.postbit .userinfo_extra dl dd {
	display:block;
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 3px 3px 3px 3px;
        margin-top: 2px;
        padding-left: 5px;
}

.postbit .userinfo .moreinfo, .postbit .userinfo_noavatar .moreinfo {
	float: left;
	display: inline;
}

.postbit .userinfo .popupmenu a.popupctrl, .postbit .userinfo_noavatar .popupmenu a.popupctrl {
	font-size: 12px;
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 3px 3px 3px 3px;
        margin-top: 2px;
        padding-left: 5px;
	display:inline-block;
}

.postbit .userinfo .popupmenu a.popupctrl:hover, .postbit .userinfo_noavatar .popupmenu a.popupctrl:hover {
	color: rgb(112, 72, 2);
	text-decoration: ;
}

.postbit .postbody {
	clear: both;
	color: rgb(133, 133, 133);
}

.postbit .postrow {
	padding: 5px 10px 3em;
	font:    13px Verdana;
}

.postbit hr {
	display:none;
}

.postcontent {
word-wrap: break-word;
}

.postbit .posttitle {
	display:block;
	padding: 10px;
	font-weight:bold;
	font:   bold 14px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	margin: 0;
}

.postbit .content {
	font:    13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: rgb(133, 133, 133);
}

.postbitlegacy .content {
	font:    13px Tahoma,Calibri,Verdana,Geneva,sans-serif
	color: rgb(133, 133, 133);
}

.postbitdeleted .content, .postbitignored .content {
	font:    13px Tahoma,Calibri,Verdana,Geneva,sans-serif
	color: rgb(133, 133, 133);
}


/*postbit legacy*/


.birthdays {
	border-top: 0px solid rgb(0, 0, 0);
}

.postbitlegacy hr, .eventbit hr {
	display: none;
}

.postbitlegacy .postdetails, .eventbit .eventdetails {
	float: left;
	width: 100%;
	background: transparent none   ;
	_background-image: none;
}

.eventbit .eventhead {
	height: auto;
	padding-bottom: 5px;
}

.birthdays .posthead {
	border: 1px solid #5A7F97;
	background: #7192A8 url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
	padding: 4px 0;
	padding-left: 10px;
	color: rgb(112, 72, 2);
	margin-left: 0;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.birthdays .eventrow {
	background: transparent none   ;
	_background-image: none;
}



.eventbit .eventhead .eventdate span.date, .eventbit .eventhead .eventdate .time {
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: rgb(112, 72, 2);
}

.eventbit .eventhead .eventdate span.date {
	padding-left: 10px;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}



.postbitlegacy .posthead .time {
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: rgb(112, 72, 2);
}

.postbit .posthead .nodecontrols, .postbitlegacy .posthead .nodecontrols, .eventbit .eventhead .nodecontrols {
	position: absolute;
	color: rgb(112, 72, 2);
	right: 0;
	top: 0;
	width: 50% ;
	padding: 4px 10px 0;
	text-align: right;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	vertical-align: middle;
}

.postbit .posthead .nodecontrols a, .postbitlegacy .posthead .nodecontrols a, .eventbit .eventhead .nodecontrols a {
	color: rgb(112, 72, 2);
        top: -2px;
        position:relative;
}

.postbitlegacy .posthead .nodecontrols img, .eventbit .eventhead .nodecontrols img {
	position: relative;
	top: 2px;
	padding: 0;
}

.postbitlegacy .posthead .nodecontrols .postimod, .eventbit .eventhead .nodecontrols .postimod {
	top: 0px;
	position:relative;
	margin-left: 5px;
}

.postbitlegacy .postbody, .eventbit .eventdetails .eventbody {
	margin-left: 250px;
	border-left: 0px solid rgb(0, 0, 0);
	background: transparent none   ;
	_background-image: none;
	padding-bottom: 1em;
}

.postbitlegacy .postrow, .eventbit .eventrow {
	padding: 5px 10px 10px;
	font:    13px Verdana;
	color: rgb(133, 133, 133);
}

.eventbit dl.stats {
	display: inline-block;
	height: auto;
}

.postbitlegacy .userinfo {
	float:left;
	position: relative;
	width:230px; 
	padding: 2px 10px 5px;
	font-size: 11px;
	display:block;
        background: transparent none   ;
	clear:both;
}

.postbitlegacy .userinfo .rank, .postbitlegacy .userinfo .usertitle {
	font-size: 11px;
	display:block;
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 3px 3px 3px 3px;
        margin-top: 2px;
        padding-left: 5px;
	clear:both;
}

.eventbit .userinfo {
	float:left;
	position: relative;
	width:230px;
	padding: 2px 10px 5px;
	font-size: 11px;
	display:block;
}

.postbitlegacy .userinfo .username_container {
	margin-bottom: 8px;
}


.postbitlegacy .userinfo .username_container .memberaction {
	display: inline;
}

.postbitlegacy .userinfo .postuseravatar, .eventbit .userinfo .eventuseravatar {
	display:block;
	margin:3.33333333333px auto 0;
	text-align:left;
	width: auto;
	float: left;
	clear: both;
}

.postbitlegacy .userinfo .postuseravatar img, .eventbit userinfo .eventuseravatar img {
	border: 0px solid #f2f6f8;
 	outline: 0px dotted #d8d8d8;
 	max-width: 230px;
}

.postbitlegacy .userinfo a.username, .eventbit .userinfo a.username {
	clear:right;
	font-size:13px;
	font-weight:bold;
	width: auto;
	max-width:210px;
	word-wrap:break-word;
}

.postbitlegacy .userinfo .guest.username, .eventbit .userinfo .guest.username {
	padding-top: 5px;
	display:block;
	font-size: 13px;
}

.postbitlegacy dl.userinfo_extra, .postbitlegacy dl.user_rep {
	margin: 5px 0;
	display:block;
	float: left;
	width: 80px; 
}
.postbitlegacy dl.userinfo_extra dt, .postbitlegacy dl.user_rep dt {
	float: left;
	text-align: left;
	/*color: #777777;*/
	margin-right: 10px;
	margin-left: 0;
	min-width:60px;
	width:auto !important;
	width:60px;
        margin-top: 6px;
        padding-left: 5px;
}

.postbitlegacy dl.userinfo_extra dt:after, .postbitlegacy dl.user_rep dt:after {
	content: ":";
}

.postbitlegacy dl.user_rep dt.blank:after {
	content: none;
}

.postbitlegacy dl.userinfo_extra dd, .postbitlegacy dl.userinfo_extra dd a, .postbitlegacy dl.user_rep dd {
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 3px 3px 3px 3px;
        margin-top: 2px;
}

.postbitlegacy dl.user_rep img {
	margin-top: 10px;
}

.postbitlegacy .imlinks {
	width: 100%;
	float: left;
}

.postbitlegacy .imlinks img {
	display:inline;
}

.postbitlegacy .title, .eventbit .title {
	display:block;
	padding: 10px;
	padding-left: 0;
	font:   bold 14px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbit .postfoot, .postbitlegacy .postfoot, .eventbit .eventfoot {
	display:block;
	position: relative;
	right: 0;
	float: left;
	clear:both;
	/*vertical-align: bottom;*/
	background: transparent;
	/*height: 26px;*/
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	width: 100%;
}

.postbitlegacy .postrow.has_after_content {
	padding-bottom: 4em;
}

.postbitlegacy .after_content {
	position: relative;
	width: 100%;
	clear:both;
}

.postbitlegacy .signature, .postbitlegacy .lastedited {
	margin-top: 1em;
	padding: 1em 10px 0;
}

.postbit .postfoot .textcontrols, .postbitlegacy .postfoot .textcontrols, .eventbit .eventfoot .eventcontrols {
	padding: 3px 0 7px;
	display:block;
        background: rgb(40, 40, 40) none   ;
        border-left: 1px solid #4C4C4C;
        border-top: 1px solid #4C4C4C;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	width: 100%;
	height: 16px;
	margin-right: 10px;
}
.postbitlegacy .postfoot  .postcontrols, .postbit .postfoot  .postcontrols {
	position: absolute;
	right: 10px;
        margin-left: 450px;
}

.postbitlegacy .postfoot .postlinking, .postbit .postfoot .postlinking {
	position: absolute;
	left: 10px;
        margin-right: 450px;
}
.eventbit .eventfoot .textcontrols {
	display:block;
	float: right;
	margin-right: 10px;
}

.postbitlegacy .postfoot .textcontrols img.inline, .postbit .postfoot .textcontrols img.inline {
	position: absolute;
	top: 2px;
	left: -1px;
	margin-right: 1px;
}
.postbitlegacy .postfoot .textcontrols span.seperator, .postbit .postfoot .textcontrols span.seperator {
	position: relative;
	top: 2px;
	left: 3px;
	background: rgb(0, 0, 0);
	_background-image: none;
	display: inline;
	height: 14px;
	width: 1px;
	margin: 0 5px;
}
.postbitlegacy .postfoot .textcontrols a, .postbit .postfoot .textcontrols a, .eventbit .eventfoot .eventcontrols a {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 3px;
	padding-left: 23px;
	border: 0px solid #a8a8a8;
	background: #e9e9e9 url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
	color: rgb(112, 72, 2);
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	display:inline-block;
	margin-left: 5px;
}

/* Text button hover images */
.postbitlegacy .postfoot .textcontrols img.spam, .postbit .postfoot .textcontrols img.spam  {
	padding-top: 2px;
}
.postbitlegacy .postfoot .textcontrols img.moderated, .postbit .postfoot .textcontrols img.moderated, .postbitlegacy .postfoot .textcontrols img.spam, .postbit .postfoot .textcontrols img.spam, .postbitlegacy .postfoot .textcontrols img.deleted_nolink, .postbit .postfoot .textcontrols img.deleted_nolink  {
	padding-top: 2px;
}
.postbitlegacy .postfoot .textcontrols a.editpost, .postbit .postfoot .textcontrols a.editpost, .eventbit .eventfoot .textcontrols a.editevent  {
	background: url(themes/robotic-dark_amber/buttons/edit_40b.png) no-repeat transparent left ;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.editpost:hover, .postbit .postfoot .textcontrols a.editpost:hover, .eventbit .eventfoot .textcontrols a.editevent:hover  {
	background: url(themes/robotic-dark_amber/buttons/edit_40b-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.quickreply, .postbit .postfoot .textcontrols a.quickreply  {
	background: url(themes/robotic-dark_amber/buttons/reply_40b.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.quickreply:hover, .postbit .postfoot .textcontrols a.quickreply:hover  {
	background: url(themes/robotic-dark_amber/buttons/reply_40b-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.newreply, .postbit .postfoot .textcontrols a.newreply  {
	background: url(themes/robotic-dark_amber/buttons/quote_40b.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.newreply:hover, .postbit .postfoot .textcontrols a.newreply:hover  {
	background: url(themes/robotic-dark_amber/buttons/quote_40b-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.multiquote, .postbit .postfoot .textcontrols a.multiquote  {
	background: url(themes/robotic-dark_amber/buttons/multiquote-back_40b.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.multiquote:hover, .postbit .postfoot .textcontrols a.multiquote:hover  {
	background: url(themes/robotic-dark_amber/buttons/multiquote_40b-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.tothetop, .postbit .postfoot .textcontrols a.tothetop  {
	background: url(themes/robotic-dark_amber/buttons/top.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.tothetop:hover, .postbit .postfoot .textcontrols a.tothetop:hover  {
	background: url(themes/robotic-dark_amber/buttons/tophover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.promotecms, .postbit .postfoot .textcontrols a.promotecms  {
	background: url(themes/robotic-dark_amber/cms/promote_small.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.promotecms:hover, .postbit .postfoot .textcontrols a.promotecms:hover  {
	background: url(themes/robotic-dark_amber/cms/promote_small-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.infraction, .postbit .postfoot .textcontrols a.infraction  {
	background: url(themes/robotic-dark_amber/buttons/add-infraction_sm.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.infraction:hover, .postbit .postfoot .textcontrols a.infraction:hover  {
	background: url(themes/robotic-dark_amber/buttons/add-infraction_sm-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.report, .postbit .postfoot .textcontrols a.report  {
	background: url(themes/robotic-dark_amber/buttons/report-40b.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.report:hover, .postbit .postfoot .textcontrols a.report:hover  {
	background: url(themes/robotic-dark_amber/buttons/report-40b-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.blog, .postbit .postfoot .textcontrols a.blog  {
	background: url(themes/robotic-dark_amber/misc/blog/blogpost_40b.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.blog:hover, .postbit .postfoot .textcontrols a.blog:hover  {
	background: url(themes/robotic-dark_amber/misc/blog/blogpost_40b-hover.png) no-repeat transparent left ;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.reputation, .postbit .postfoot .textcontrols a.reputation  {
	background: url(themes/robotic-dark_amber/buttons/reputation-40b.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.reputation:hover, .postbit .postfoot .textcontrols a.reputation:hover  {
	background: url(themes/robotic-dark_amber/buttons/reputation-40b-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.ip, .postbit .postfoot .textcontrols a.ip  {
	background: url(themes/robotic-dark_amber/buttons/ip-40b.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.ip:hover, .postbit .postfoot .textcontrols a.ip:hover  {
	background: url(themes/robotic-dark_amber/buttons/ip-40b-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.redcard, .postbit .postfoot .textcontrols a.redcard  {
	background: url(themes/robotic-dark_amber/buttons/red-card_sm.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.redcard:hover, .postbit .postfoot .textcontrols a.redcard:hover  {
	background: url(themes/robotic-dark_amber/buttons/red-card_sm-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.yellowcard, .postbit .postfoot .textcontrols a.yellowcard  {
	background: url(themes/robotic-dark_amber/buttons/yellow-card_sm.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.yellowcard:hover, .postbit .postfoot .textcontrols a.yellowcard:hover  {
	background: url(themes/robotic-dark_amber/buttons/yellow-card_sm-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.deleted, .postbit .postfoot .textcontrols a.deleted  {
	background: url(themes/robotic-dark_amber/buttons/deleted_sm.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a.deleted:hover, .postbit .postfoot .textcontrols a.deleted:hover  {
	background: url(themes/robotic-dark_amber/buttons/deleted_sm-hover.png) no-repeat transparent left;
	padding-left: 20px;
}
.postbitlegacy .postfoot .textcontrols a:hover, .postbit .postfoot .textcontrols a:hover {
	color: rgb(112, 72, 2);
	background:  url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
}

.postbitlegacy .postfoot .textcontrols a.highlight, .postbit .postfoot .textcontrols a.highlight {
	background-color: ;
}

.postbitlegacy .postfoot .textcontrols a.multiquote, .postbit .postfoot .textcontrols a.multiquote {
	border: 0;
	margin-right: 0;
	padding-right: 10px;
}

.postbitlegacy .postfoot .textcontrols a img, .postbit .postfoot .textcontrols a img {
	position: absolute;
	top: 2px;
	left: 3px;
}

.postbitlegacy .postfoot .textcontrols a:hover img, .postbit .postfoot .textcontrols a:hover img {
	top: 2px;
}

/*post bit deleted*/
.postbitdeleted, .postbitignored {
	margin-bottom: 10px;
	display:block;
	width: 100%;
	clear:both;
	position: relative;
	color: rgb(144, 144, 144);
	border: 0px solid rgb(0, 0, 0);
	float: left;
	background: #f2f6f8 none   ;
	_background-image: none;
}

.postbitdeleted hr, .postbitignored hr {
	display: none;
}

.postbitdeleted .posthead, .postbitignored .posthead {
	display:table;
	background: #7192A8 url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
	border: 1px solid #5A7F97;
	height: 16px;
	padding: 4px 0;
	color: rgb(112, 72, 2);
	width: 100%;
	margin: -1px -1px 0;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .posthead .date, .postbitignored .posthead .date {
	display:inline-block;
	padding-left: 14px;
	margin-left: 10px;
	color: rgb(112, 72, 2);
	background:transparent url(themes/robotic-dark_amber/statusicon/post_old.png) no-repeat center left;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .posthead .date .time, .postbitignored .date .time {
	color: rgb(112, 72, 2);
	margin-left: 10px;
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .posthead .postimod, .postbitignored .posthead .postimod {
	position: absolute;
	right: 10px;
	top: 5px;
}

.postbitdeleted .postbody, .postbitignored .postbody {
	padding: 0;
}

.postbitdeleted .postrow, .postbitignored .postrow {
	padding:  10px;
}

.postbitdeleted .userinfo .memberaction, .postbitignored .userinfo .memberaction {
	display: block;
}


.postbitdeleted .userinfo, .postbitignored .userinfo {
	display:block;
	background: transparent;
	position: relative;
	clear: both;
	padding: 5px 10px;
	border-bottom: 0px solid rgb(0, 0, 0);
	word-wrap: break-word;
}

.postbitdeleted .userinfo .username, .postbitignored .userinfo .username {
	display:block;
	float: left;
	clear: right;
	font-size: 13px;
	/*font-weight:bold;*/
}

.postbitdeleted .userinfo .moreinfo, .postbitignored .userinfo .moreinfo {
	float: left;
	display:block;
	position: relative;
	top: -5px;
}

.postbitdeleted .userinfo .usertitle, .postbitignored .userinfo .usertitle {
	clear:both;
	display:block
	width: 100%;
}

.postbitdeleted .userinfo .popupmenu a.popupctrl:hover, .postbitignored .userinfo .popupmenu a.popupctrl:hover {
	color: rgb(112, 72, 2);
	text-decoration: underline;
}

.postbitdeleted .title, .postbitignored .title {
	font:   bold 14px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.postbitdeleted .nodecontrols, .postbitignored .nodecontrols {
	padding: 4px 0;
	padding-right: 10px;
	text-align: right;
	background: #e9e9e9 none   ;
	_background-image: none;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	height: 16px;
}

.postbitdeleted .nodecontrols .textcontrol, .postbitignored .nodecontrols .textcontrol {
	background: #e9e9e9 url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
	border: 0px solid #a8a8a8;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
}

.postbitdeleted .nodecontrols a.textcontrol:hover, .postbitignored .nodecontrols a.textcontrol:hover {
	background:  url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
	border: 0px solid #a8a8a8;
}

.userinfo .popupmenu:hover a.popupctrl {
	background-color:transparent;
}

.userinfo .popupgroup .popupmenu:hover a.popupctrl.active,
.userinfo .popupmenu a.popupctrl.active {
	background-color:transparent;
	color:inherit;
}
.postbit .userinfo .popupmenu .popupctrl {
	color:auto;
}

.postbit.imod_highlight .userinfo_noavatar,
.postbit.imod_highlight .userinfo,
.postbit.imod_highlight .postbody,
.postbitlegacy.imod_highlight .postdetails,
.postbitlegacy.imod_highlight .userinfo,
.postbitlegacy.imod_highlight .postbody,
.postbitdeleted.imod_highlight,
.postbitignored.imod_highlight {
	background:rgb(13, 13, 13);
	color: rgb(144, 144, 144);
}


/* start styles for postbit_legacy */
.userinfo .popupmenu:hover a.popupctrl {
	background-color:transparent;
}
.userinfo .popupgroup .popupmenu:hover a.popupctrl.active,
.userinfo .popupmenu a.popupctrl.active {
	background-color:transparent;
	color:inherit;
}
.postbitlegacy .userinfo .popupmenu .popupctrl {
	color:auto;
}
/* end styles for postbit_legacy */

img.onlinestatus_noavatar {
	position: relative;
	top: 5px;
	left: -56px;
}
img.onlinestatus {
	position: relative;
	top: 5px;
	left: -4px;
}

/* last edited */
.postbody fieldset {
	background: #ececec none   ;
	_background-image: none;
	-moz-border-radius: 5px;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
}

.postbody img.inlineimg {
	position: relative;
	top: 2px;
}

.postbody .lastedited .reason {
	font-weight: bold;
}

.postbitlegacy .userinfo .userinfo_extra {
	width:230px;
	float: left;
	font-size: 11px;
}

.hasad {
	display:block;
	margin-right: 300px;
} 


/* CSS Document */

blockquote.align_left
{
	float:left;
}	
blockquote .align_center
{
	display:block;
	margin:0 auto;
}
blockquote .align_right
{
	float:right;
}

blockquote .size_thumbnail
{
	max-height:150px;
	max-width:150px;
	width: auto !important;
	width: 150px;
	height: auto !important;
	height: 150px;
}
blockquote .size_medium
{
	max-height:300px;
	max-width:300px;
	width: auto !important;
	width: 300px;
	height: auto !important;
	height: 300px;
}
blockquote .size_large
{
	max-height:1024px;
	max-width:1024px;
	width: auto !important;
	width: 1024px;
	height: auto !important;
	height: 1024px;
}
blockquote .size_fullsize
{
	max-width:100%;
	width: auto !important;
	width: 100%;
}
blockquote .caption
{
	color:rgb(204, 204, 204);
	font-size:9px;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
} 


/* CSS Document */

#polloptnum {
	margin-right:10px;
}

#polltimeout
{
	float:none;
}

.formcontrols .blockrow input.option {
	clear:left;
	float:left;
	margin-bottom:0.5em;
}

.formcontrols .blockrow input.votes {
	float:left;
	margin-bottom:0.5em;
	margin-left:0.5em;
}

.pollbar1,
.pollbar2,
.pollbar3,
.pollbar4,
.pollbar5,
.pollbar6 {
	height:15px;
        border:0px  transparent;
	display:inline-block;
}

.pollbar1 {
	background:rgb(156,255,198) none   ;
}

.pollbar2 {
	background:rgb(255,132,132) none   ;
}

.pollbar3 {
	background:rgb(132,132,255) none   ;
}

.pollbar4 {
	background:rgb(255,231,132) none   ;
}

.pollbar5 {
	background:rgb(255,132,255) none   ;
}

.pollbar6 {
	background:rgb(132,255,255) none   ;
}

#pollinfo {
	padding-bottom:0;
	margin: 10px 50px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	clear:both;
	border: 0px solid rgb(0, 0, 0);
	padding-right: 10px;
}

.polloptionsblock {
	padding-left: 120px; /*should be depending on the size of the icon or background */
	background: #f3f3f3 url(themes/robotic-dark_amber/misc/poll_question_mark.png) no-repeat 30px 10px; /* position based on image not padding */
}

.pollresultsblock {
	padding-left: 10px;
	background: #f3f3f3;
}

#pollinfo .blockhead, #pollinfo .pollsubhead, #pollinfo .blockrow, #pollinfo .blockfoot {
	background:transparent;
	border: 0;
	padding: 5px 0 0; 
	clear:both;
}

#pollinfo .blockbody {
	background:transparent;
}

#pollinfo .blockhead {
	width: 100%;
	float: left;
	clear:both;
}

#pollinfo .blockhead h2 {
	font-weight: normal;
	font-size: 19.5px;
	display: inline-block;
	float: left;
	color: rgb(187,0,0);
}

#pollinfo .blockhead .stats {
	float: right;
	color: rgb(144, 144, 144);
}

#pollinfo .blockhead .totalvotes {
	color: rgb(144, 144, 144);
	font-size: 13px;
	display: inline-block;
	margin-top: 6.5px;
	font-weight:bold;
}

#pollinfo .polltitle {
	color: rgb(144, 144, 144);
}

#pollinfo .blockhead .textcontrol {
	border: 0;
	padding: 0;
	background: transparent;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

#pollinfo .blockhead .textcontrol img {
	position: relative;
	right: 0;
	top: 8px;
}

#pollinfo .blockhead .textcontrol:hover img {
	border-bottom: 1px dotted rgb(144, 144, 144);
}

#pollinfo .pollsubhead {
	clear:both;
	width: 100%;
}

#pollinfo .blockfoot {
	margin-left: 20px;
	padding-bottom: 10px;
}

#polloptions li {
	padding-top: 5px;
	margin-left: 20px; /* to make room for input box */
}

#polloptions li input {

}

/*
#pollinfo .textcontrol {
	float:right;
	font-size:11px;
	margin: 10px;
}
*/

#pollresults {
	border: 0px solid rgb(0, 0, 0);
	padding: 10px;
	background: #f3f3f3;
	margin: 0 auto;
	margin-top: 10px;
	clear:both;
	float: left;
	width: 98%;
}

#pollresults .blockrow {
	border-bottom:1 solid #cedfeb;
}

#pollresults .blockrow:last-child {
	border-bottom:none;
}

#pollresults li {
	width: 100%;
	position: relative;
        min-height: 2em; 
	float: left;
}

#pollresults li p {
        display:block;
        position:relative;
	width: 30%;
        float: left;
        bottom:0;
}

#pollresults li .votes {
	font-size:11px;
        position:relative;
        display:block;
	float: left;
	min-width: 400px;
        width:70%;
}

#pollresults li .votes .pollbarwrapper {
	position: relative;
	width: 83%;
        display:block;
	float: left;
	clear: right;
}

#pollresults li .votes .pollbarwrapper div {
	float:left;	
}

#pollresults li .votes .numvotes {
        color:body_color;
        padding:0.1em 0.5em;
        display: block;
        margin-left: 0.5em;
        float: left;
	clear: right;
}

#pollresults li .percentvotes {
	position: absolute;
	right: 0px;
        top:0px;
}

#pollresults ol.commalist {
	padding:6px 6px 6px 0px;
	margin-top:6px;
	border-top:1 solid #cedfeb;;
	font-size:11px;
	clear:both;
}

#pollresults ol.commalist li {
	display: inline;
	width: auto;
}

#pollinfo .blockfoot a,
#pollinfo .blockfoot input {
	vertical-align:middle;
}

ol.previewbit li {
	list-style-type:decimal;
	margin-left:1.5em;
} 


/* CSS Document */

.lightbox {
	position:absolute;
	/* left:0; */
	top:0;
}

.lightbox > div {
	background-color:#000000;
	padding:14px;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
}

.lightbox > div > div {
	background-color:#F5F5F5;
	padding:6px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

.lightbox .picturerow {
	text-align:center;
}

.lightbox .buttonrow,
.lightbox .descrow {
	clear:both;
	width: 100%;
	color:#666666;
	padding-top:4px;
	font-size:11px
}

.lightbox .buttonrow .closebutton {
	position:relative;
	float:right;
}

.lightbox .buttonrow .totals {}

.lightbox .descrow .date {
	float: left;
	clear: right;
	text-align: left;
	display:block;
	width: 50%;
}


.lightbox .descrow .filename {
	float: right;
	text-align: right;
	display:block;
	width: 50%;
}

/*
.lightbox .progress {
	border:solid 4px #000000;
	border-bottom-width:0px
}
*/ 